.contact {
  .contact__list {
    li {
      margin-left: 15px;
      display: inline-block;

      a {
        font-size: clamp(14px, 2vw + 1rem, 18px);
        color: $gray;
        &:hover {
          color: $dark;
        }
      }
    }
  }
}