.footer {
  position: relative;
  padding: 2.5rem 0 1.5rem;
  text-align: center;
  border-top: 1px solid $light-gray;
  background: $card-bg;
  font-size: 0.875rem;
  color: $gray;

  .contact {
    margin-bottom: 0.75rem;
  }

  .copyright {
    a {
      color: $dark;
      &:hover {
        color: $brand-color;
      }
    }
  }

  @media only screen and (max-width: $mobile) {
    padding: 1.5rem 0 1rem;
  }
}